<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/celebrities">celebs</a></li>
        <li><a href="/celebrities/new">create celeb</a></li>
        {{#unless currentUser}}
        <li><a href="/auth/signup">Sign up</a></li>
        <li><a href="/auth/login">Log in</a></li>
        {{else}}
        <li>{{currentUser.username}}</li>
        <li>
          <form action="/auth/logout" method="POST">
           <button type="submit">Log out</button>
          </form>
        </li>
        {{/unless}}
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
